.prods{
    display: flex;
    gap: 8%;
    flex-wrap: wrap;
    padding-left: 5%;
    margin-top: 2%;
    padding-right: 5%;
}
#cart{
    border: none;
    border-radius: 5px;
    background-color: #0ca678;
    padding: 12px 18px;
    color: #fff;
}

.thumbnail{
    width: 100%;
    max-width: 200px;
    height: 50%;
    border-radius: 20px;
}